* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    align-self: center;
    width: 100vw;
    grid-template-columns: 1fr;
}

#play-area {
    width: min(400px, 90%);
    aspect-ratio: 1 / 1;
    background-color: rgb(165, 164, 164);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    padding: 6px;
    border-radius: 8px;
    margin: 0 auto;
}

.marker-spot {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border-radius: 8px;
}

.icon {
    margin: 0 auto;
    align-self: center;
    width: 100%;

}

.x {
    background-color: rgb(173, 56, 56);
}

.o {
    background-color: rgb(56, 87, 173);
}

.icon.o {
    width: 85%;
}

#scores {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px;

}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}