* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#play-area {
    width: 400px;
    height: 400px;
    background-color: rgb(114, 114, 114);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    padding: 4px;
}

.marker-spot {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 197, 197);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.icon {
    margin: 0 auto;
    align-self: center;
    width: 100%;

}

.x {
    background-color: rgb(173, 56, 56);
}

.o {
    background-color: rgb(56, 87, 173);
}

.icon.o {
    width: 85%;
}

svg {
    color: white;
}